# gradle

# 忽略所有 Gradle 压缩包
*.zip

# 忽略 Gradle 包装器文件
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

